
.particles-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  
}


.left-column {
  /* align-items: center;
  height: 100vh; /* Full viewport height */
  /* max-width: 100%;
  overflow: hidden; */ 
  position: fixed;
  
}


.secondcon{
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
  height: 100%;
  width: 54.7vw;
  margin-left: 46%;
  
  overflow: hidden;
  background-color: aqua;
  justify-content: center;
  align-items: center;
  position: fixed;
}

#tsparticles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.form-control{
  width:50%;
  height:20%;
  border-color: #cbdef0;
  border-width: 2px;
 
}
.form-control2{
  width:104%;
  font-size:10px;
  
}
@keyframes moveWord {
  0% {
    transform: translateX(100%); /* Start off the screen on the left */
  }
  100% {
    transform: translateX(-100%); /* Move off the screen on the right */
  }
}

.moving-word {
  animation: moveWord 15s linear infinite; /* Adjust duration and timing as needed */
  white-space: nowrap; /* Prevent text from wrapping */
  font-size: 200%;
  margin-top: 45%;
  font-weight: 700;
}
.small-screen-image {
  display: block;
  margin: 0 auto;
  width:10%;
  height:10%;
}
.upper{
  display:flex;
  flex-direction: column;
  width:100%;
  border-color: #cbdef0;
  border-width: 2px;
}
.forgotpassword-image{
  width:10%;
  height:10%;

}


.divmg{

  justify-content: center;
  margin-left: 10%;
}
.divmg1{
 
  max-width: 100%;
  width: 100%;
  justify-content: center;
  background-color: aqua;
 
}

.moving{
  animation: moveWord 15s linear infinite; /* Adjust duration and timing as needed */
  white-space: nowrap; /* Prevent text from wrapping */
  font-size: 90%;
  font-weight:400;
  overflow:hidden;
  
 
}
.oflow{
  overflow: hidden;
}
.animie{
  height:100%;
  width:100%;
}

.flrow{
 
  justify-content: center;
 
}

.shapediv{
  border-top-right-radius: 30%;
  border-top-left-radius: 30%;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
  border:2px solid #f8b4c0;
  margin:2%;
  cursor: pointer;
  transition: background-color 0.3s ease
  
 
}

.shapediv:hover {
 border-width: 6px;
transform: translateY(-10px);


  
}
 .image{
  border-top-right-radius: 30%;
  border-top-left-radius: 30%;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
  height: 80%;
  
 }
.imglogo{
  height:10%;
  width:10%;
  margin-right: 20%;

 
}

.shapediv1{
  border-radius: 50%;
  border:2px solid #f8b4c0;
  margin:2%;
}

.shapediv1:hover{
  transform: scale(1.1);
  border-width: 6px;
}


.image1{
  border-radius: 50%;
  
}



@keyframes diveBorder {
  0% {
    border-width: 0;
  }
  50% {
    border-width: 10px;
  }
  100% {
    border-width: 0;
  }
}

.animated-border {
  border-top-right-radius: 30%;
  border-top-left-radius: 30%;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
  border:2px solid #f8b4c0;
  margin:2%;
  border: 0 solid white;
  animation: diveBorder 2s infinite;
}



@media (max-width: 768px) {
  .secondcon {
    display: none;
  }
  .small-screen-image {
    display: block;
  }
  .under{
 display:none;
  }
 
  .mesg{
    display: none;
  }
  .blk{
    display:none;
  }

}

@media(min-width:768px){
  .small-screen-image{
    display:none;
  }
  .upper{
    display:none;
  }
  .mesg{
    display: block;
  }
  .divmg{
    display: block;
  }

}
.pinkbg{
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pinkbg:hover{
  background-color: #f8b4c0;
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius:10%;
}


.exhov:hover{
  transform: scale(1.3);

}

.exhov1:hover{
  transform: scale(1.1);

}

.btpink{
  background-color: #f8b4c0;
border:2% black;
border-radius: 2%;
}

.green-button {
  background-color: green; /* Set your desired green color */
  /* Add any other styles you want for the green button */
}

.profilediv{
  width:80%;
  border:10px black;
  background-color: #cbdef0;
  margin-left: 10%;
  margin-top: 10%;
}

.last:hover{
  transform: scale(1.1);
}